.skill-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;


    height: 2rem;
    min-width: 8rem;
    width: 6rem;
    border: 1px solid #000;
    border-radius: 4px;
    /* text-align: center; */
    /* line-height: 2rem; */
    /* padding: 2px 8px; */
}

.skill-icon {
    height: 1rem;
    width: 1rem;
}