.projects-container {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1rem;

    overflow-x: auto;
}

.projects-container-horizontal-scroll {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}