/* 
azul oscuro : #16262E
celeste: #BFD7EA
beige oscuro: #BAA898
caqui: #EEE0CB
verde claro: #839788
*/
html{
    font-family: 'Blinker', sans-serif;
}
a{
    text-decoration: none;
    color: rgb(22, 64, 85);
}
img{
    max-width: 100%;
}
#band{
    font-size: 26px;
    color: black;
    display: flex;
    justify-content: center
}
.container{
    background: #460E2F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #B45539,#902F34,#6E192E,#460E2F,#2F0727,#150520);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #B45539,#902F34,#6E192E,#460E2F,#2F0727,#150520); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    max-width: 960px;
    max-height: 80vh;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    /* box-shadow: diferenciaHorizontal diferenciaVertical desenfoque amplitud color; */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.205),0 3px 6px rgba(0, 0, 0, 0.329);
    border-radius: 10px;
    position: relative;
    overflow: auto;
    padding: 1em;
}
td{
    display: block;
    width: 100%;
}
td:nth-of-type(1){
    font-size: 1.5em;
    font-weight: bold;
    color: #460E2F;
}
th{
    display: none;
}
.actions{
    position: absolute;
    top: 1em;
    right: 1em;
}
.close{
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    background-color: #6E192E;
    display: inline-block;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    text-transform: uppercase;
    text-align: center;
    margin-top: 0%;
}
.paragraph{
    line-height: 1.8em;
    font-weight: 300;
}
.table{
    width: 100%;
    border-spacing: 0;

}
.table td, .table th{
    padding: 1em;
    text-align: center
}
.table tr:nth-child(even){
    background-color: #ffdbd1;
}
.title-item{
    /* border-bottom-style: solid;
    border-width: 2px;
    border-color: #B45539; */
    /* 
    padding: arriba derecha abajo izquierda; 4 valores
    padding: arriba/abajo derecha/izquierda; 2 valores
    padding: todos; 1 valor
    */
    border-bottom: solid 2px #B45539;
    padding-bottom: 1em; 
    font-size: 2em;
}
.position{
    background-color: #B45539;
    color: white;
    padding: 0.5em;
    border-radius: 10px;
    margin-right: 0.5em;
}
.address, .vid{
    font-weight: bold;
    color: #6E192E;
    font-size: 1.2em;
    margin-top: 2em;
    display: inline-block;
}
.main-image{
    float: left;
    margin-right: 1em;
    height: 220px;
}

@media(min-width:900px){
    .content{
        padding: 1em;
    }
    td{
        width: auto;
        display: table-cell;
    }
    td:nth-of-type(1){
        font-size: 1em;
        font-weight: bold;
        color: #460E2F;
    }
    th{
        display: table-cell;
    }
    .content{
        padding: 1.8em;
    }
}
@media (min-height:550px){
    .content{
        height: 500px;
    }
    
}