.link-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-img {
    height: 2.5rem;
    width: 2rem;
    padding: 0.5rem;
    /* background-color: #FFF; */
    border: none;
    border-radius: 4px;

    /* filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(172deg) brightness(115%) contrast(105%); */
}